body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 100%);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #e26613;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px 0 0 8px;
    box-shadow: 0px 8px 16px 0px rgba(11, 11, 11, 0.2);
}

.search-bar button {
    padding: 10px;
    border: 2px solid #ccc;
    border-left: none;
    background: #fff;
    border-radius: 0 8px 8px 0;
    box-shadow: 0px 8px 16px 0px rgba(11, 11, 11, 0.2);
}

.search-bar button img {
    width: 20px;
    height: 20px;
}

.icons-right {
    display: flex;
    align-items: center;
}

.account-logo, .info-icon, .menubtn {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.dropbtn {
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .account-logo:hover {background-color: #592d0944;}

  .info-icon:hover {background-color: #592d0944;}

  .dropbtn:hover {background-color: #592d0944;}
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  


#info{
    padding-top: 2vw;
    padding-left: 2vw;
    padding-bottom: 2vw;
    width: 290px;
    font-family: "Space Grotesk", sans-serif;
    top: 100px;
    left: 20px;
    margin-left: 100px;
    margin-top: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e2661329;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
}

.availability{
    position: absolute;
    top: 120px;
    right: 80px;
    font-family: "Space Grotesk", sans-serif;
}

.span{
    font-family: "Space Grotesk", sans-serif;
}

.square_cont{
    width: 200px;
    margin: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    background-color:   #e2661329;
}

#square1 {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

#square2 {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  background-color: #bd2d2d;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#square3 {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    background-color: #36be5d;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
} 
.seats{
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #008CBA; 
    color: white; 
  }

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.proceed-button {
    padding: 12px 24px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color:  #e26613;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.proceed-button:hover {
    background-color: #7b380b;
  }

#s1 {
    padding-left: 7vw;
}

#s2 {
    padding-right: 4vw;

}

.s13 {
    width: 30%;
    left: 100px;
}
.s2{
    width: 40%;
    left: 400px;
}

td{
    padding: 5px;
}